.site-footer {
  _-- {
    background: $dark-blue;
    font-family: $roboto;
    color: $white;
  }

  position: relative;
  z-index: 2;
  text-align: center;
  transition: margin 1s;
  clear: both;

  a _-- {
    color: $white;
  }

  li {
    line-height: 1;
  }

  #country-selector {
    font-size: $font-size-sm;
    text-align: left;
    width: 100%;

    &.open {
      .country-dropdown-toggle {
        border-bottom: none;
      }
      .country-list {
        display: block;
      }
    }

    .country-dropdown-toggle {
      background: transparent;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.5);
      color: $white;
      cursor: pointer;
      padding: $space-md 0;
      text-align: left;
      white-space: nowrap;
      width: 100%;

      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background-image: url("../../assets/src/images/icons/angle-right.svg");
        background-position: 50% 50%;
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        margin-left: 10px;
        transition: transform 300ms linear;
      }
    }

    .country-list {
      background-color: $x-dark-blue;
      display: none;
      font-weight: 500;
      padding: 24px 0 $space-lg 0;
    }

    ul.countries {
      column-count: 1;
      list-style: none;
      margin: 0;
      padding-left: $space-lg;

      @include medium-and-up {
        column-count: 3;
      }

      .country-group-letter {
        h3 {
          _-- {
            font-size: $font-size-sm;
            font-weight: bold;
            color: $grey-40;
          }
          position: absolute;
          @include margin($left: -$space-lg);

          html[dir="rtl"] & {
            @include margin($left: 0, $right: -$space-lg);
            text-transform: lowercase;
          }

          @include large-and-up {
            margin-left: -#{$space-lg};

            html[dir="rtl"] & {
              margin-left: 0;
              margin-right: -#{$space-lg};
            }
          }
        }

        & > ul {
          padding-left: 0;
        }

        & > ul > li {
          display: inline-block;
          font-size: $font-size-sm;
          padding-bottom: 8px;
          width: 100%;
        }
      }

      .international {
        font-size: $font-size-sm;
        margin: 0;
        padding: 0 0 $space-lg 0;
      }
    }

    ul.lang-list {
      font-weight: 400;
      line-height: $font-size-xxs;
      list-style: none;
      padding: $space-xxs 0 0 0;
    }
    ul.lang-list > li {
      display: inline;
      font-size: $font-size-xxs;
    }
  }

  &__container {
    padding-bottom: 0;
    padding-top: $n40;
    display: flex;
    flex-direction: column;

    @include medium-and-up {
      flex-direction: row-reverse;
    }
  }

  &__social-media {
    text-align: left;
    margin-bottom: 24px;

    @include medium-and-up {
      margin-bottom: 0;
    }
  }

  &__social-media-title {
    display: none;

    @include medium-and-up {
      margin-bottom: 24px;
      display: block;
      line-height: 1;
    }
  }

  &__social-media-list {
    _-- {
      color: $white;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 9px;
    border-bottom: 1px solid white;

    @supports (justify-content: center) {
      & {
        justify-content: center;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-bottom: 16px;
    }

    &--justify-space-between {
      @supports (justify-content: space-between) {
        & {
          justify-content: space-between;
        }
      }
    }

    @include medium-and-up {
      border-bottom: none;
      flex-wrap: nowrap;

      @supports (justify-content: flex-start) {
        & {
          justify-content: flex-start;
        }
      }
    }

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-inline-end: 16px;
      }
    }

    a {
      --footer--social-media--link-- {
        transition: color 100ms linear;

        &:hover {
          color: $white;
        }
      }
    }
  }

  &__footer-links {
    margin-bottom: 24px;
    width: 100%;
    text-align: left;
    color: $white;
    column-count: 1;

    li {
      font-size: $font-size-sm;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    @include medium-and-up {
      font-size: $font-size-md;
    }
  }

  &__copyright {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $active-blue;

    &-wrapper {
      font: $font-size-xxs;
      display: flex;
      flex-direction: column;
      text-align: left;

      @include large-and-up {
        flex-direction: inherit;
      }
    }

    &-text {
      --footer--copyright-text-- {
        color: $grey-10;
      }
      font-size: $font-size-xxs;
      line-height: 1.4;
      word-break: keep-all;
      width: auto;
      margin-bottom: 0;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        top: 0;
      }

      a --footer--copyright-link-- {
        color: $white;
      }

      @include large-and-up {
        margin-bottom: 0;

        &:after {
          content: "\007C";
          display: inline-block;
          margin: 0 14px;
        }

        &:last-of-type:after {
          display: none;
        }
      }
    }

    @include medium-and-up {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  &--minimal {
    .site-footer {
      &__container {
        justify-content: center;
      }

      &__social-media {
        text-align: center;
      }

      &__footer-links {
        display: none;
      }

      &__copyright {
        @supports (justify-content: center) {
          & {
            justify-content: center;
          }
        }
      }
    }
  }
}
