.footer-social-media {
  text-align: left;
  margin-bottom: 24px;

  @include medium-and-up {
    margin-bottom: 0;
  }

  span {
    display: none;

    @include large-and-up {
      margin-bottom: 24px;
      display: block;
      line-height: 1;
    }
  }

  ul {
    _-- {
      color: $white;
    }
    @include justifyContent(center);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 9px;
    padding-left: 0;
    border-bottom: 1px solid white;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-inline-end: 16px;
      }
    }

    a {
      --footer--social-media--link-- {
        transition: color 100ms linear;

        &:hover {
          color: $white;
        }
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      margin-bottom: 16px;
    }

    @include medium-and-up {
      @include justifyContent(flex-start);
    }

    @include large-and-up {
      border-bottom: none;
      flex-wrap: nowrap;
    }

    &.justify-space-between {
      @include justifyContent(space-between);

      @include medium-and-up {
        @include justifyContent(flex-start);
      }
    }
  }

  &.minimal {
    width: 100%;

    span {
      display: none;
    }

    ul {
      @include justifyContent(center);
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;

      .icon {
        margin-bottom: 0;
      }
    }

    @include medium-and-up {
      margin-bottom: 24px;
    }
  }
}
